/*  ----------------- GLOBAL ----------------- */
body {
    margin: 0 !important;
    background-color:#FFFEF9;
    color: #1E0C45;
    font-size: 20px;
    font-family: 'Work Sans', 'Arial', sans-serif;
    font-weight: lighter;
}
  
.bolded {
  color: #FF00C9;
  font-weight: bold;
}

h1 {
  font-size: 96px;
  color: #1E0C45;
}

h2 {
  font-size: 64px;
  color: #4500F5;
  line-height: 50%;
}

h3 {
  font-size: 48px;
  color: #FF00C9;
  line-height: 50%;
}

h4 {
  font-size: 45px;
  color: #FF00C9;
  line-height: 20%;
}

.case_section {
  font-size: 20px;
  color: #4500F5;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 250%;
  margin-left: -0.63em;
  }


a {
  text-decoration: none;
  color: #FF00C9;
  font-size: 36px;
}

a:hover {
  text-decoration: none;
  color: #02EB96 !important;
  font-size: 36px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#1E0C45;
  height: 75px;
  padding: auto;
  font-size: 16px;
  color: #FFFEF9;
}

/*  ----------------- MEDIA QUERIES ----------------- */

@media only screen and (max-width: 1000px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 96px;
    color: #1E0C45;
    line-height: 100%;
  }

  h2 {
    font-size: 64px;
    color: #4500F5;
    line-height: 100%;
  }
  
  h3 {
    font-size: 48px;
    color: #FF00C9;
    line-height: 100%;
  }
  
  h4 {
    font-size: 42px;
    color: #FF00C9;
    line-height: 20%;
  }

}


/*  ----------------- NAVIGATION ----------------- */
.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: #FFFEF9;
  height: 75px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header_nav ul, .header_nav a {
  list-style: none;
  display: flex;
  text-decoration: none;
  font-weight: bold;
  color: #FFFEF9;
  font-size: 30px;
  text-transform: uppercase;
}

ul {   
  margin-block-start: 1em !important;
  margin-block-end: 1em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  padding-inline-start: 40px !important;
}

.header_nav a:hover {
  color: #02EB96;
}

.logo {
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
}

.logo img {
  max-height: 60px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
}

li {
  padding-right: 25px;
}


/* ----------------- HOME PAGE ----------------- */
.hello {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-left: 2%;
  margin-right: 2%;
  line-height: 85%;
}

.hello img {
  max-width: 100%;
  max-height: 600px;
}

.work {
  text-align: left;
  opacity: 0;
}

.work img {
  max-width: 800px;
  max-height: 500px;
  object-fit: contain;
  background-color: #FF00C9;
}

.work a {
  text-decoration: none;
  font-weight: bold;
  color: #FFFEF9;
  font-size: 48px;
  transition-delay: 0.2s;
}

.work a:hover {
  text-decoration: none;
  color: #FFFEF9 !important;
  font-size: 56px !important;
}

.main_row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5%;
  background-color: #4500F5;
}

.main_column {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}


/*  ----------------- ABOUT ME ----------------- */
.me_intro {
  padding-top: 10%;
  padding-bottom: 5%;
}

.me_intro img {
  max-width: 100%;
}

.me_body {
  padding-left: 5%;
  padding-right: 5%;
  opacity: 0;
}

.me_body img {
  max-width: 75px;
}

.me_body a {
  text-decoration: none;
  font-weight: bold;
  color: #02EB96;
  font-size: 48px;
  transition-delay: 0.2s;
}

.me_body a:hover {
  text-decoration: none;
  color: #FFFEF9 !important;
}

#process {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
}

#process img {
  max-width: 55%;
}


/*  ----------------- CASE STUDIES ----------------- */

.case_intro {
  background-color: #4500F5;
  color: #FFFEF9;
  font-size: 36px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 5%;
  line-height: 120%;
}

.case_body {
  margin-left: 5%;
  margin-right: 5%;
}

.case_body a {
  font-size: 20px;
  color: #4500F5;
  border-bottom: 3px solid #02EB96;
}

.case_wrapper {
  width: 768px;
  margin: auto;
}

.container img {
  max-width: 700px;
  max-height: 500px;
  object-fit: contain;
  border:#1E0C45 2px solid;
}

.container ul {
  list-style: none;
}

.container li::before {
  content: "○";
  font-size: 20px;
  color: #4500F5;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.container a {
  font-size: 20px;
  color: #4500F5;
  border-bottom: 3px solid #02EB96;
}

.divider {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.divider img {
  max-width: 100%;
}

.case_container {
  display: flex;
  justify-content: space-between;
}

.case_left {
  font-size: 20px;
  white-space: nowrap;
}

.case_left img {
  max-width: 350px;
  max-height: 500px;
  object-fit: contain;
  border:#1E0C45 2px solid;
}


.case_right {
  margin-left: 5%;
  margin-top: -0.4em;
}

.case_callout {
  background-color: #FFFEF9;
  margin-left: auto;
  margin-right: auto;
  padding: 32px 5% 32px;
  border-color: #4500F5;
  border-width: 2px;
  border-radius: 20px;
  border-style: solid;
  font-weight: bold;
}















/*     
 HELPFUL CODE / UNUSED CODE TO REFERENCE:


      <div class="me_body">
      <center>
      <h2>Let's talk!</h2>      
      <a href="https://www.linkedin.com/in/damtina/"><i class="fa-brands fa-linkedin" style="font-size: 60px;"></i></a>&nbsp;&nbsp;&nbsp;
      <a href="mailto:tina99dam@gmail.com"><i class="fa-solid fa-envelope" style="font-size: 60px;"></i></a>
      </center>
      </div>




  
  {display: flex;
    justify-content: right;
    padding-top: 15px;
      padding-right: 35px;
    align-items: flex;
    width: 300px;
    height: 500Px;
    background-color: #e9decf;
    color: #2c2d48;
    border-radius: 30px;
    border: 1px solid #D1bdaa;
    font: 100px 'Abril Fatface', cursive;
    flex-direction: column;
    align-items: flex-end;}
    
    #hello img {
    max-width: 50%;
    padding-right: 25%;
    border: 2px solid #1E0C45;
  }
  
  #header_nav {
  display:flex;
  justify-content: space-between;
  list-style: none;
}
  
  header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border:#CBFF85 3px solid;
  background-color: #FFFFFF;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
}
  

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
  

.header_nav ul, .header_nav a {
  list-style: none;
  display: flex;
  text-decoration: none;
  font-weight: bold;
  color: #5A24F0;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
}


@media screen and (max-width: 600px) {
  .work_block {
    width: 100%;
  }
}


.work {
  display: flex;
  align-items: center;
  text-align: center;
}

alt background colors: #F6F3E8
#F5F1F4

the nice blue just in case #0088FF

    font-size: 2vw;



    .row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 5%;
}

.row3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 5%;
}



  <body style="background-color:#F5FFFB;">
    <body style="background-color:#FFFFF5;">


  .work img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: #FF00C9 3px solid;
}

.work {
  background-color: #FFFFFF;
  padding: 5%;
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
  width: 75%;
}


.process {
  background-color: #FFFFFF;
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: -100px;
  }

  .process img {
    max-width: 75%;
    }


    .stuff {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 150px;
  margin-left: 100px;
  margin-right: 100px;
}

<span class="bolded">show and tell</span>


#process img {
  max-width: 75%;
  border: #1E0C45 1.5px solid;
  background-color: #FFFFFF;
}

.work a {
  text-decoration: none;
  color: #009c63;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.work a:hover {
  text-decoration: none;
  color: #02EB96;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #009c63;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: #02EB96;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}


        <img src="images/news app_1.png" width="700px">



  We came up with four tasks that we thought would provide the most insight: <br>
  1. Review all basic eligibility requirements to qualify for federal student loans <br>
  2. Navigate back to the Department of Education home page <br>
  3. Go to the Eligibility page for the grant called "Fulbright-Hays Seminars Abroad—Bilateral Projects“ <br>
  4. Read the overview for Title VI of the Civil Rights Act of 1964 (Race and National Origin Discrimination)


    white-space: nowrap;


  */


  