/*  ----------------- GLOBAL ----------------- */
body {
    margin: 0 !important;
    background-color:#FFFEF9;
    color: #4d3c6a;
    font-size: 20px;
    font-family: 'Work Sans', 'Arial', sans-serif;
}
  
.bolded {
  color: #4d3c6a;
  font-weight: 600;
}

h1 {
  font-size: 140px;
  color: #4d3c6a;
  text-transform: lowercase;
  font-weight: 600;
  display: inline-block;
}

h2 {
  font-size: 72px;
  color: #6605F5;
  text-transform: lowercase;
  font-weight: 600;
  line-height: 100%;
}

h3 {
  font-size: 36px;
  color: #FFFEF9;
}

.quotes {
  color: #6605F5;
  font-weight: 700;
  font-size: 20px;
}

.case_section {
  font-size: 20px;
  color: #4d3c6a;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #4d3c6a;
  font-size: 36px;
}

a:hover {
  text-decoration: none;
  color: #78F51D !important;
  font-size: 36px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#4d3c6a;
  height: 100px;
  padding: auto;
  font-size: 16px;
  color: #FFFEF9;
}

footer img {
  max-height: 20px;
}

/*  ----------------- MEDIA QUERIES ----------------- */

@media only screen and (max-width: 1200px) {
  body {
    font-size: 20px;
  }
  h1 {
    font-size: 96px;
  }
  h2 {
    font-size: 72px;
  }
  h3 {
    font-size: 36px;
  }
  .case_section {
    font-size: 20px;
  }
  footer {
    margin-left: 5%;
    margin-right: 5%;
  }
  footer img {
    max-height: 10px;
  }
  .helloooo {
    max-width: 1200px;
    padding-bottom: 20%;
    padding-top: 5%;
  }
  .work {
    max-width: 1200px !important;
  }
  .work a {
    font-size: 72px !important;
  }
  .work img {
    max-width: 600px !important;
  }
  .me_intro {
    margin-top: 15%;
  }
  .me_body {
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .me_body img {
    max-width: 600px !important;
  }
  #process {
    max-width: 800px;
  }
  .case_intro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 1200px;
    margin-left: 5% !important;
    margin-top: 1em;
  }
  .case_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 1200px;
    padding-left: 5% !important;
  }
  .case_body a, .container a {
    font-size: 20px !important;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 1200px;
    margin-left: 5% !important;
  }
  .container img {
    max-width: 600px !important;
  }
  .progressbar_container {
    max-width: 1200px !important;
  }
  #progressbar {
    max-width: 1200px !important;
  }
}


@media only screen and (max-width: 640px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  .case_section {
    font-size: 14px;
  }
  footer {
    font-size: 8px;
    max-width: 640px !important;
    margin-left: 5%;
    margin-right: 5%;
  }
  footer img {
    max-height: 10px;
  }
  .helloooo {
    max-width: 640px;
  }
  .work {
    max-width: 640px !important;
  }
  .work a {
    font-size: 24px !important;
    border-bottom: none !important;
  }
  .work img {
    max-width: 150px !important;
  }
  .me_intro {
    margin-top: 25%;
  }
  .me_body {
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .me_body img {
    max-width: 200px !important;
  }
  #process {
    max-width: 200px;
  }
  .case_intro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 640px;
    margin-left: 5% !important;
    margin-top: 1em;
  }
  .case_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 640px;
    padding-left: 5% !important;
  }
  .case_body a, .container a {
    font-size: 14px !important;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 640px;
    margin-left: 5% !important;
  }
  .container img {
    max-width: 200px;
    object-fit: contain;
  }
  .col-9 {
    margin-left: 20%;
  }
  .container img {
    max-width: 200px !important;
  }
  .progressbar_container {
    display: none;
  }
  #progressbar {
    display: none;
  }
  .menu ul li {
    display: none !important;
  }
  .menu .hamburger {
    display: flex !important;
    margin-top: 5px !important;
  }
  .menu.responsive {
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-end !important;
    margin-top: 5px !important;
  }
  .menu.responsive .hamburger {
    display: flex !important;
    float: right !important;
    margin-top: 5px !important;
  }
  .menu.responsive ul li {
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-end !important;
    text-align: right !important;
    line-height: 100% !important;
    margin-top: 12px !important;
  }
}



/*  ----------------- NAVIGATION ----------------- */
.header_nav {
  background-color: #fffef9f7;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: unset;
  height: 75px;
  padding-top: 15px;
  padding-left: 5%;
  padding-right: 5%;
  left: 0;
  right: 0;
}

ul {
  display: block !important;
  list-style-type: disc !important;
  margin-block-start: 1em !important;
  margin-block-end: 1em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  padding-inline-start: 40px !important;
}

.header_nav a {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 0% !important;
}

.header_nav a:hover {
  color: #78F51D;
}

.logo {
  display: flex;
  padding: 0px;
}

.logo img {
  max-height: 45px;
}

.menu {
  padding: 0px;
  float: unset;
  display: flex;
}

.menu .hamburger {
  display: none;
}

.menu li {
  list-style: none !important;
  display: inline-block !important;
  padding-left: 25px;
  padding-top: 0px;
}


/* ----------------- HOME PAGE ----------------- */
.helloooo {
  display: flex;
  flex-direction: column;
  margin: 5% 5% 2% 5%;
  z-index: 100;
}

.work {
  background-color: #4d3c6a;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  opacity: 0;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.work img {
  max-width: 800px;
  object-fit: contain;
  padding: 10%;
  margin-bottom: 5%;
  background-color: #FFFEF9;
}

.work img:hover {
  max-width: 800px;
  object-fit: contain;
  padding: 10%;
  margin-bottom: 5%;
  transition-delay: 0.2s;
  background-color: #78F51D;
  transform: scale(1.2);
}

.work a {
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 600;
  color: #FFFEF9;
  font-size: 72px;
  line-height: 100%;
  transition-delay: 0.2s;
}

.work a:hover {
  text-decoration: none;
  color: #78F51D !important;
}

.work_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1080px;
  margin: auto;
}


/*  ----------------- ABOUT ME ----------------- */
.me_intro {
  padding-top: 12%;
  padding-bottom: 5%;
}

.me_intro img {
  max-width: 100%;
}

.me_body {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  margin: auto;
}

.me_body img {
  max-width: 400px;
  border: 1px solid #4d3c6a;
}

.me_body a {
  text-decoration: none;
  font-weight: bold;
  color: #4d3c6a;
  border-bottom: 2px solid #78F51D !important;
  font-size: 48px;
  transition-delay: 0.2s;
}

#process {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 1080px;
  margin: auto;
  padding-bottom: 5%;
}

#process img {
  max-width: 75%;
}


/*  ----------------- CASE STUDIES ----------------- */

.case_intro {
  background-color: #FFFEF9;
  color: #FFFEF9;
  display: flex;
  flex-direction: column;
  font-size: 36px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 12%;
  padding-bottom: 5%;
  line-height: 120%;
}

.case_intro img {
  max-width: 75%;
}

.case_body {
  padding-left: 5%;
  padding-right: 5%;
}

.case_body h4 {
  text-transform: none;
  letter-spacing: normal;
}

.case_wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  margin: auto;
}

.case_wrapper img {
  max-width: 700px;
  max-height: 500px;
  object-fit: contain;
}

.container img {
  border: 1px solid #4d3c6a;
}

.case_nav {
  max-width: 1080px;
  text-align: left;
}

#zoom {
  transition: transform ease-in-out 0.3s;
}
#zoom:hover { 
  transform: scale(1.35); 
}

.container a, .case_body a, .case_nav a {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #4d3c6a;
  border-bottom: 2px solid #78F51D;
}

.case_callout {
  background-color: #FFFFFF;
  padding: 32px 5% 32px;
  border-color: #4d3c6a;
  border-width: 1px;
  border-style: solid;
}

.row span.bolded {
  margin-left: -0.60em;
  margin-right: -0.60em;
}

.container ul span.bolded, .case_callout span.bolded, .col-9 span.bolded, .col-3 span.bolded {
  margin-left: 0.08em;
  margin-right: 0.08em;
}

.progressbar_container {
  position: fixed;
  top: 75px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #4d3c6a1e;
}

.progressbar {
  height: 4px;
  background: #6605F5;
  width: 0;
  transition: width 0.5s;
}

.fade_in {
      opacity: 0;
  }





















/*     
 HELPFUL CODE / UNUSED CODE TO REFERENCE:

old navy color #4d3c6a

alt background colors: #F6F3E8
#F5F1F4

the nice blue just in case #0088FF

    font-size: 2vw;





ul {   
  margin-block-start: 1em !important;
  margin-block-end: 1em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  padding-inline-start: 40px !important;
}






<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="CSS/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/faaa3545f1.js" crossorigin="anonymous"></script>
    <title>Tina Dam</title>
    <link rel="icon" type="image/x-icon" href="images/cloud.png">
  </head>
  
<body>
  <div class="header_nav">

  <div class="logo">
    <a href="index.html"><img src="images/td logo.png"></a>
  </div>

  <div class="menu" id="myMenunav">
    <ul>
      <li><a href="about.html" style="color:#E811F5;">ABOUT </a></li>
      <li><a href="index.html#work" style="color:#6605F5;">WORK </a></li>
      <li><a href="Tina Dam Resume_5-2022.pdf" target="_blank" style="color:#4d3c6a;">RESUME </a></li>
      <li class="icon"><a style="color:#4d3c6a;" href="javascript:void(0);" onclick="myFunction()">
        <i class="fa-solid fa-burger"></i></a></li>
    </ul>
  </div>

</div>





    <div class="main_row">
      <div class="main_column">
        <a href="mello.html"><img src="images/mello_v2.png"></a>
      </div>

      <div class="main_column">
      <b><a href="mello.html">MENTAL HEALTH APP: ORIGINAL CONCEPT <i class="fa-solid fa-arrow-right-long"></i></a></b>
      </div>
    </div>

<br>

    <div class="main_row">
      <div class="main_column">
        <a href="US-DOE-redesign.html"><img src="images/US DOE.png"></a>
      </div>

      <div class="main_column">
          <b><a href="US-DOE-redesign.html">US DEPARTMENT OF EDUCATION: CASE STUDY <i class="fa-solid fa-arrow-right-long"></i></a></b>
      </div>
    </div>

<br>

    <div class="main_row">
      <div class="main_column">
       <a href="knew-news.html"><img src="images/Knew News_home.png"></a>
      </div>

      <div class="main_column">
      <b><a href="knew-news.html">AUGMENTED REALITY NEWS APP: ORIGINAL CONCEPT <i class="fa-solid fa-arrow-right-long"></i></a></b>
      </div>
      </div>




.main_row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #4d3c6a;
  padding-right: 4%;
}

.main_column {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
  flex: 1;
  padding-left: 8%;
  padding-right: 4%;
  padding-top: 8%;
  padding-bottom: 8%;
}

.me_body {
    padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  opacity: 0;
}



  .menu.responsive ul li:not(.icon) {
    float: none;
    display: block;
    top: 100px;
    padding-right: 1%;
    text-align: right;
    z-index: 100;
  }


  style="background-color: #FFFEF9; padding: 32px 5% 32px;"

    background-color: #4d3c6a05;

      background-color: #4d3c6a1e;

  */


  