/*  ----------------- GLOBAL ----------------- */
body {
    margin: 0 !important;
    background-color:#FFFEF9;
    color: #1E0C45;
    font-size: 18px;
    font-family: 'Work Sans', 'Arial', sans-serif;
}
  
.bolded {
  color: #1E0C45;
  font-weight: bold;
  background-color: #4500f514;
}

h1 {
  font-size: 72px;
  color: #1E0C45;
  text-transform: lowercase;
  font-weight: lighter;
  display: inline-block;
}

h2 {
  font-size: 64px;
  color: #4500F5;
  text-transform: lowercase;
  font-weight: bolder;
}

h3 {
  font-size: 48px;
  color: #FF00C9;
  line-height: 20%;
  font-weight: bold;
  text-transform: lowercase;
}

h4 {
  font-size: 32px;
  color: #1E0C45;
  text-transform: lowercase;
  letter-spacing: 9px;
}

.case_section {
  font-size: 18px;
  color: #4500F5;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #FF00C9;
  font-size: 36px;
}

a:hover {
  text-decoration: none;
  color: #02EB96 !important;
  font-size: 36px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#1E0C45;
  height: 100px;
  padding: auto;
  font-size: 16px;
  color: #FFFEF9;
}

footer img {
  max-height: 20px;
}

/*  ----------------- MEDIA QUERIES ----------------- */

@media only screen and (max-width: 768px) {
  .body img {
    max-width: 768px !important;
  }
  .hi_there {
    display: flex;
    flex-direction: column;
    padding-top: 10em;
    margin-left: 55%;
    margin-right: 15%;
  }
  .case_intro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 768px;
    padding-left: 0%;
    margin-top: 3em;
  }
  .container img {
    max-width: 400px !important;
    object-fit: contain;
  }
}


@media only screen and (max-width: 320px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  .hi_there {
    display: flex;
    flex-direction: column;
    padding-top: 10em;
    margin-left: 55%;
    margin-right: 15%;
  }
  .work a {
    text-decoration: none;
    font-weight: bold;
    color: #FFFEF9;
    font-size: 24px !important;
    transition-delay: 0.2s;
  }
  .work a:hover {
    text-decoration: none;
    color: #02EB96 !important;
    font-size: 32px !important;
  }
  .work img {
    max-width: 320px !important;
    max-height: 250px;
    object-fit: contain;
    padding: 5%;
    background-color: #FFFEF9;
  }
  .body img {
    max-width: 320px !important;
  }
  .navbar navbar-default {
    max-width: 320px;
  }
  .case_intro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 320px;
    margin-left: 5%;
    margin-top: 3em;
  }
  .case_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 320px;
    margin-left: 5%;
  }
  .case_body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 320px;
    margin-left: 5%;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 320px;
    padding-left: 0%;
  }
  .container img {
    max-width: 200px !important;
    object-fit: contain;
  }
}


@media screen and (max-width: 600px) {
  .menu ul li:not(.icon) {display: none;}
  .menu ul li.icon {
    float: right;
    display: block;
    right: 25px;
    top: 25px;
  }
}


@media screen and (max-width: 600px) {
  .menu.responsive {position: relative;}
  .menu.responsive .icon {
    position: absolute;
    right: 25px;
    top: 25px;
  }
  .menu.responsive ul li:not(.icon) {
    float: none;
    display: block;
    top: 100px;
    padding-right: 1%;
    text-align: right;
    z-index: 100;
  }
}



/*  ----------------- NAVIGATION ----------------- */
.header_nav {
  display: inline-table;
  list-style: none;
  background-color: #fffef9f7;
  height: 75px;
  position: fixed;
  margin-top: 0;
  width: 100%;
  z-index: 1;
}

.header_nav ul, .header_nav a {
  list-style: none;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
}

ul {
  display: block !important;
  list-style-type: disc !important;
  margin-block-start: 1em !important;
  margin-block-end: 1em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  padding-inline-start: 40px !important;
}

.header_nav a:hover {
  color: #02EB96;
}

.logo {
  display: inline-block;
  padding-left: 5%;
  padding-top: 23px;
}

.logo img {
  max-height: 45px;
}

.menu {
  display: inline-block;
  float: right;
  padding-right: 5%;
  padding-top: 2px;
}

.menu li {
  padding-left: 20px;
}

.menu .icon {
  display: none;
}

li .icon {
  padding-right: 0px;
}

li {
  padding-left: 12px;
  display: inline-block;
}


/* ----------------- HOME PAGE ----------------- */
.hi_there {
  display: flex;
  flex-direction: column;
  margin-top: -4em;
  margin-left: 55%;
  margin-right: 15%;
}

.helloooo {
  display: flex;
  flex-direction: column;
  margin-left: 55%;
  margin-bottom: 5%;
  margin-right: 10%;
}

.work {
  text-align: left;
  opacity: 0;
}

.work img {
  max-width: 700px;
  max-height: 250px;
  object-fit: contain;
  padding: 5%;
  background-color: #FFFEF9;
}

.work a {
  text-decoration: none;
  text-transform: lowercase;
  font-weight: bolder !important;
  color: #FFFEF9;
  font-size: 64px;
  transition-delay: 0.2s;
}

.work a:hover {
  text-decoration: none;
  color: #02EB96 !important;
}

.main_row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #1E0C45;
  padding-right: 4%;
}

.main_column {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
  flex: 1;
  padding-left: 8%;
  padding-right: 4%;
  padding-top: 8%;
  padding-bottom: 8%;
}


/*  ----------------- ABOUT ME ----------------- */
.me_intro {
  padding-top: 12%;
  padding-bottom: 5%;
}

.me_intro img {
  max-width: 100%;
}

.me_body {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  opacity: 0;
}

.me_body img {
  max-width: 75px;
}

.me_body a {
  text-decoration: none;
  font-weight: bold;
  color: #02EB96;
  font-size: 48px;
  transition-delay: 0.2s;
}

.me_body a:hover {
  text-decoration: none;
  color: #FFFEF9 !important;
}

#process {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 12%;
}

#process img {
  max-width: 55%;
}


/*  ----------------- CASE STUDIES ----------------- */

.case_intro {
  background-color: #FFFEF9;
  color: #FFFEF9;
  display: flex;
  flex-direction: column;
  font-size: 36px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 8%;
  padding-bottom: 2%;
  line-height: 120%;
}

.case_intro img {
  max-width: 75%;
}

.case_body {
  padding-left: 5%;
  padding-right: 5%;
}

.case_body h4 {
  text-transform: none;
  letter-spacing: normal;
}

.case_body a {
  font-size: 18px;
  color: #4500F5;
  border-bottom: 2px solid #02EB96;
}

.case_wrapper {
  width: 1080px;
  margin: auto;
}

.case_wrapper img {
  max-width: 700px;
  max-height: 500px;
  object-fit: contain;
}

.container img {
  border: 1px solid #1E0C45;
}

.case_wrapper a {
  font-size: 18px;
  color: #4500F5;
  border-bottom: 2px solid #02EB96;
}

.divider {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.divider img {
  max-width: 120%;
}

.case_callout {
  background-color: #1e0c4505;
  padding: 32px 5% 32px;
  border-color: #1E0C45;
  border-width: 1px;
  border-style: solid;
}

.row span.bolded {
  margin-left: -0.60em;
  margin-right: -0.60em;
}

.container ul span.bolded, .case_callout span.bolded, .col-9 span.bolded, .col-3 span.bolded {
  margin-left: 0.08em;
  margin-right: 0.08em;
}

.case_nav {
  background-color: #fffef9;
  color: #1E0C45;
  top: 0;
  position: relative;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
}

.case_nav a {
  font-size: 18px;
  color: #4500F5;
  border-bottom: 2px solid #02EB96;
}

.case_nav-fixed {
  top: 75px;
  z-index: 2;
  position: fixed;
  width: 100%;
}






















/*     
 HELPFUL CODE / UNUSED CODE TO REFERENCE:


      <div class="me_body">
      <center>
      <h2>Let's talk!</h2>      
      <a href="https://www.linkedin.com/in/damtina/"><i class="fa-brands fa-linkedin" style="font-size: 60px;"></i></a>&nbsp;&nbsp;&nbsp;
      <a href="mailto:tina99dam@gmail.com"><i class="fa-solid fa-envelope" style="font-size: 60px;"></i></a>
      </center>
      </div>




  
  {display: flex;
    justify-content: right;
    padding-top: 15px;
      padding-right: 35px;
    align-items: flex;
    width: 300px;
    height: 500Px;
    background-color: #e9decf;
    color: #2c2d48;
    border-radius: 30px;
    border: 1px solid #D1bdaa;
    font: 100px 'Abril Fatface', cursive;
    flex-direction: column;
    align-items: flex-end;}
    
    #hello img {
    max-width: 50%;
    padding-right: 25%;
    border: 2px solid #1E0C45;
  }
  
  #header_nav {
  display:flex;
  justify-content: space-between;
  list-style: none;
}
  
  header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border:#CBFF85 3px solid;
  background-color: #FFFFFF;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
}
  

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
  

.header_nav ul, .header_nav a {
  list-style: none;
  display: flex;
  text-decoration: none;
  font-weight: bold;
  color: #5A24F0;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
}

alt background colors: #F6F3E8
#F5F1F4

the nice blue just in case #0088FF

    font-size: 2vw;

  <body style="background-color:#F5FFFB;">
    <body style="background-color:#FFFFF5;">


  .work img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: #FF00C9 3px solid;
}

.work {
  background-color: #FFFFFF;
  padding: 5%;
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
  width: 75%;
}


.work a {
  text-decoration: none;
  color: #009c63;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.work a:hover {
  text-decoration: none;
  color: #02EB96;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #009c63;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: #02EB96;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

    white-space: nowrap;



    .container ul {
  list-style: none;
}

.container li::before {
  content: "\f0c2";
  font-family: "Font Awesome 5 Free";
  padding: 15px 30px 0 0;
  font-size: 18px;
  color: #1E0C45;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}


<div class="helloooo">
    <h1>hi there. my name is</h1><h1 style="color: #4500F5">Tina Dam</h1>
    <h1>i am a</h1><h1 style="color: #4500F5">UX designer in NYC</h1>
  </div>

   <div class="hello"> 
      <center><img src="images/portfolio_hello_v2.gif">

      <br><br><br><br>
      <h4>my name is</h4><h1>Tina Dam</h1><br>
      <h4>i am a</h4><h2>UX designer in NYC</h2><br><br><br><br><br><br><br><br><br>
      <h3>Check out my work below</h3><br><br>
      <img src="images/arrow.png" style="max-height: 500px;"></center>
  </div>  <a id="work"></a>

  <br><br><br><br>

.hi_there img {
  margin-top: -12em;
  margin-bottom: -8em;
  z-index: -1;
}


.case_left {
  white-space: nowrap;
  margin-top: -0.4em;
  margin-right: 15%;
}

.case_left img {
  max-width: 600px;
  max-height: 600px;
  object-fit: contain;
  margin-left: -0.60em;
}

.case_right {
  margin-top: -0.4em;
}


.row {
  display: inline-block;
  text-align: match-parent;
}

.hello {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
}

.hello img {
  max-width: 65%;
}

ul {   
  margin-block-start: 1em !important;
  margin-block-end: 1em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  padding-inline-start: 40px !important;
}






<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="CSS/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/faaa3545f1.js" crossorigin="anonymous"></script>
    <title>Tina Dam</title>
    <link rel="icon" type="image/x-icon" href="images/cloud.png">
  </head>
  
<body>
  <div class="header_nav">

  <div class="logo">
    <a href="index.html"><img src="images/td logo.png"></a>
  </div>

  <div class="menu" id="myMenunav">
    <ul>
      <li><a href="about.html" style="color:#FF00C9;">ABOUT </a></li>
      <li><a href="index.html#work" style="color:#4500F5;">WORK </a></li>
      <li><a href="Tina Dam Resume_5-2022.pdf" target="_blank" style="color:#1E0C45;">RESUME </a></li>
      <li class="icon"><a style="color:#1E0C45;" href="javascript:void(0);" onclick="myFunction()">
        <i class="fa-solid fa-burger"></i></a></li>
    </ul>
  </div>

</div>






  */


  